.v {
    position: relative;
  }
  
  .Logo {
    position: absolute;
    top: 480px;
    left: 60px;
    z-index: 1;
  }
  
  .FondVerification {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  