.Contenu{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.BalicSelect {
    margin-top: 60px;
    z-index: 1;
    top: -465px;
    position: relative;
}