.Container1Notif{
    display: flex;
    align-items: center;
    margin-left: 24px;
    width: 300px;
}

.Container2Notif {
    width: 360px;
    height: 610px;   
    margin-top: -9px;
   
}

.Container3Notif{
    display: flex;
    align-items: center;
}

.Container3Notif p{
    margin-left: 30px;
    border-bottom: solid 5;
}

